* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    background-color: white;
    color: #000;
    text-align: center;
    line-height: 1.5;
  }

  .app-img {
    color: white;
    width: 10%;
    height: 10%;
    margin: 0;
    text-align: center;
    background-color: black;
  }

  ul {
    padding: 0; 
    margin: 0;
  }

  ul li {
    background-color: black;
    color: white;
    display: inline;
    padding: 0;
    list-style: none;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #000;
  }
  
  nav {
    background-color: #fff;
    color: black;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: left;
  }

  div.hero {
    height: 100vh;
  }
  
  
  header {
    padding: 12% 0;
  }

  nav h6 {
    display: none;
  }

  .app {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    align-items: center;
  }
  
  section {
    min-height: 300px;
    padding: 6% 0;
    background-color: #bbb;
    margin-top: 10px;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }

  footer {
    background-color: white;
    color: black;
    display: none;
  }


  @media only screen and (min-width: 300px) and (max-width: 768px) {
    nav h3 {
      display: none;
    }

    nav h6 {
      display: block;
    }

    footer {
    color: black;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: left;
    }

    .app {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-top: 20px;
    }

    .app-img {
      color: white;
      width: 30%;
      height: 30%;
      margin: 0 auto;
      text-align: center;
      background-color: black;
    }
  
    ul {
      padding: 0; 
      margin: 0;
    }
  
    ul li {
      background-color: black;
      color: white;
      display: inline;
      padding: 0;
      list-style: none;
    }
  } 
  